<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
</head>
<body>
	<h1>Edit User</h1>
	<a href="/components/userhome">Back</a> | 
	<a href="/logout">logout</a>
	
	<form method="POST">
	<table border="1">
		 <tr>
		    <td>
		       Name :<%= cname %><br><br>
		       Price : <%= cprice  %><br><br>
		       Description : <%= cdesc %> <br><br>
		    </td>
		</tr>
		<% } %>
	</table>
</form>

</body>
</html>