<!DOCTYPE html>
<html>
<head>
<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #3DC758;
}

li {
  float: left;
  width: 16%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/customer">Home</a></li>
  <li><a href="/customer/cart">Cart</a></li>
  <li><a href="/logout">Log Out</a></li>
</ul>

</body>
</html>